@*@model FilmsStorage.Models.Entities.User*@

@{
    ViewBag.Title = FilmsStorage.Resources.Views.Account.Index.PageTitle;
}

<div class="text-center">
    <h3>@FilmsStorage.Resources.Views.Account.Index.YourProfile</h3>

    <p>@FilmsStorage.Resources.Views.Account.Index.Hello <b>@HttpContext.Current.User.Identity.Name</b>!</p>
</div>

<h3>@FilmsStorage.Resources.Views.Account.Index.YourFiles</h3>

@{ Html.RenderPartial("ShowError");}

@{ Html.RenderAction("FilmsByUser", "Files");}

@{ Html.RenderPartial("SocialLinks");}