@*@model FilmsStorage.Models.Entities.User*@

@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h3>Your Profile</h3>

    <p>Hello <b>@HttpContext.Current.User.Identity.Name</b>!</p>
</div>

<h3>Your Files: </h3>

@{ Html.RenderPartial("ShowError");}

@{ Html.RenderAction("FilmsByUser", "Files");}

@{ Html.RenderPartial("SocialLinks");}