
@{
    ViewBag.Title = FilmsStorage.Resources.Views.Home.Index.Title;
}

<h2>@FilmsStorage.Resources.Views.Home.Index.Title</h2>

@Html.ActionLink("Attribute Route Test", "RouteTest", new { a = 1, b = 2 });